/* Gradient title styling */
.faq-header {
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(to right, #1aa9a9, #ff6ec7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
   
}

/* FAQ list container with rounded corners and box shadow */
.faq-list {
    padding: 20px;
    background-color: #3a3f47;
    border-radius: 15px;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Style for Common Questions header */
.faq-list h2 {
    font-size: 3.5rem; /* Make the Common Questions header bigger */
    font-weight: bold;
    color: #ffffff; /* Ensure it's readable with a strong color */
    text-align: left;
    margin-bottom: 20px;
}

/* Individual FAQ question styling */
.faq-question strong {
    font-size: 1.2rem;
    color: #1aa9a9;
}

.faq-question p {
    padding-left: 10px;
    color: #d3d3d3;
    line-height: 1.6;
}

.faq-container {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    
}

body {
    margin: 0;
}